<div class="humberger-right d-flex align-items-center" >
    <a href="#" id="sidebarCollapse" onclick="myFunction(this)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle humberger align-items-center d-inline-flex">
        <svg class="feather feather-align-left sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="71"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg>
        <span class="ml-3 d-inline-block text-dark text-menu">CATEGORIES</span>
    </a>
    <div class="humbergerbar p-5" id="sidebar">
        <a id="dismiss" href="#" class="text-secondary small">
            {% include 'icon-close' %}
        </a>
        {%- include 'block-currencies' -%}
        {%- include 'block-wishlist' -%}
        {%- include 'block-compare' -%}
        {%- if section.settings.enable_cateogry -%}
        {%- include 'sidebar-option-category' -%}
        {%- endif -%}
        {%- if section.settings.workinghours != blank -%}
        <h6 class="mt-5 mb-4 font-weight-bold">{{section.settings.workinghours}}</h6>
        {%- endif -%}
        {%- if section.settings.timeopen != blank -%}
        <p class="time-open">
            {{section.settings.timeopen}}
        </p>
        {%- endif -%}
        {%- if section.settings.istahead != blank -%}
        <h6 class="mt-5 mb-4 font-weight-bold">{{section.settings.istahead}}</h6>
        {%- endif -%}
        {%- if section.settings.enable_insta -%}
        <div class="instagram row mb-0 dots-negative {% if section.settings.radius %} instagram-radius{% endif %}" id="Instagram-{{ section.id }}"
            data-style="carousel"
            data-accesstoken="{{section.settings.accesstoken}}"
            data-userid="{{ section.settings.userid }}"
            data-limit="{{ section.settings.limit }}" 
            data-resolution="{{ section.settings.resolution }}"
            
            data-slidesToShow="{{section.settings.show}}"
            data-arrows="{{ section.settings.arrows }}"
            data-dots="{{ section.settings.dots }}" 
            data-draggable="{{ section.settings.draggable }}" 
            data-infinite="{{ section.settings.infinite }}" 
            data-rows="{{ section.settings.rows }}" 
            data-section-id="{{ section.id }}" 
            data-getlink="false"
            data-section-type="instagrams">
        </div>
        {%- endif -%}
    </div>
    <div class="overlaysidebar"></div>
</div>